## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
# Your code here

sample_list_1 = random.sample(range(101), k=80)

print(sample_list_1)

[99, 66, 72, 12, 97, 82, 49, 57, 28, 41, 35, 83, 20, 2, 26, 55, 79, 59, 30, 56, 42, 96, 7, 52, 65, 15, 14, 95, 62, 43, 17, 75, 84, 47, 29, 27, 22, 1, 92, 44, 33, 51, 74, 76, 85, 68, 69, 53, 64, 39, 93, 86, 13, 25, 0, 78, 90, 31, 5, 50, 9, 16, 77, 46, 45, 4, 36, 94, 3, 11, 91, 71, 87, 81, 54, 61, 6, 67, 19, 24]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [104]:
# Your code here
#casting

set1 = set(sample_list_1)

print(len(sample_list_1))

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [9]:
# Your code here

sample_list_2 = []

for random_values in range(80):
    sample_list_2.append(random.randint(0,101))

print(sample_list_2)
# the result numbers can be duplicates

[75, 85, 84, 22, 57, 96, 52, 94, 45, 46, 16, 45, 90, 25, 96, 22, 86, 57, 97, 11, 99, 98, 59, 8, 27, 3, 42, 6, 65, 73, 22, 38, 45, 39, 18, 11, 90, 38, 33, 53, 22, 90, 10, 17, 39, 99, 39, 46, 25, 2, 87, 58, 39, 59, 33, 87, 93, 40, 38, 21, 14, 19, 15, 22, 96, 70, 44, 80, 87, 71, 45, 23, 76, 38, 25, 71, 73, 21, 95, 87]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [13]:
# Your code here

set2 = set(sample_list_2)

print(len(sample_list_2))
# the set does not admit duplicates

49

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [71]:
# Your code here

print(set1,set2)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 99} {2, 3, 6, 8, 10, 11, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 27, 33, 38, 39, 40, 42, 44, 45, 46, 52, 53, 57, 58, 59, 65, 70, 71, 73, 75, 76, 80, 84, 85, 86, 87, 90, 93, 94, 95, 96, 97, 98, 99}

In [72]:
#set3 = set1 - set2

set3 = set1.difference(set2)

In [73]:
print(set3)

{0, 1, 4, 5, 7, 9, 12, 13, 20, 24, 26, 28, 29, 30, 31, 35, 36, 41, 43, 47, 49, 50, 51, 54, 55, 56, 61, 62, 64, 66, 67, 68, 69, 72, 74, 77, 78, 79, 81, 82, 83, 91, 92}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [74]:
# Your code here

set4 = set2.difference(set1)
print(set4)

{98, 38, 70, 8, 40, 10, 73, 80, 18, 21, 23, 58}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [75]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{2, 3, 6, 11, 14, 15, 16, 17, 19, 22, 25, 27, 33, 39, 42, 44, 45, 46, 52, 53, 57, 59, 65, 71, 75, 76, 84, 85, 86, 87, 90, 93, 94, 95, 96, 97, 99}

#### 8 - Create an empty set called `set6`.

In [76]:
# Your code here

set6 = set()

In [77]:
print(set3)

{0, 1, 4, 5, 7, 9, 12, 13, 20, 24, 26, 28, 29, 30, 31, 35, 36, 41, 43, 47, 49, 50, 51, 54, 55, 56, 61, 62, 64, 66, 67, 68, 69, 72, 74, 77, 78, 79, 81, 82, 83, 91, 92}

In [78]:
print(set5)

{2, 3, 6, 11, 14, 15, 16, 17, 19, 22, 25, 27, 33, 39, 42, 44, 45, 46, 52, 53, 57, 59, 65, 71, 75, 76, 84, 85, 86, 87, 90, 93, 94, 95, 96, 97, 99}

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [79]:
# Your code here

set6.update(set5)
print(set6)

# print(set6) so to verify

{2, 3, 6, 11, 14, 15, 16, 17, 19, 22, 25, 27, 33, 39, 42, 44, 45, 46, 52, 53, 57, 59, 65, 71, 75, 76, 84, 85, 86, 87, 90, 93, 94, 95, 96, 97, 99}

In [80]:
set6.update(set3)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 99}

In [ ]:
# faster is set6.update(set5, set3)

#### 10 - Check if `set1` and `set6` are equal.

In [85]:
# Your code here

set1.difference(set6)

# if set() it means empty, therefore are equal (ther is no value in set1 that is not in set6 and vice-versa)

set()

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [86]:
# Your code here

set1.issubset(set2)

False

In [87]:
set1.issubset(set3)

False

In [ ]:
# option: set comprehension

#new_set = {letter for letter in 'abracadabra' if letter != 'a'}
#print(new_set)

#new_set.issubset({'a','b','r','c','d',3,'l'})

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [89]:
print(set3, set4, set5)

{0, 1, 4, 5, 7, 9, 12, 13, 20, 24, 26, 28, 29, 30, 31, 35, 36, 41, 43, 47, 49, 50, 51, 54, 55, 56, 61, 62, 64, 66, 67, 68, 69, 72, 74, 77, 78, 79, 81, 82, 83, 91, 92} {98, 38, 70, 8, 40, 10, 73, 80, 18, 21, 23, 58} {2, 3, 6, 11, 14, 15, 16, 17, 19, 22, 25, 27, 33, 39, 42, 44, 45, 46, 52, 53, 57, 59, 65, 71, 75, 76, 84, 85, 86, 87, 90, 93, 94, 95, 96, 97, 99}

In [88]:
# Your code here

set7 = set3.union(set4.union(set5))
print(set7)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [90]:
set7 = set1.union(set2.union(set3.union(set4.union(set5))))
print(set7)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [105]:
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 99}

In [106]:
# Your code here

x = set1.pop()
print(x)

0

In [107]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [129]:
# Your code here

#list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

list2 = list(set1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 99]

In [130]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(list_to_remove)

[1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [131]:
print(list2)

[1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 99]

In [135]:
# List of integers
list2 = [1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 99]
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

# Value to be removed
val = (1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99)
 
# Run until the list containes the value 
while val in list2:
 
    # Remove the value from the list
    list2.remove(val)
 
# Printing the list
print(list2)

[1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 99]

In [ ]:
# ???????????

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [ ]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [ ]:
# Your code here

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [ ]:
# Your code here

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [ ]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

In [ ]:
# Your code here

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [ ]:
# Your code here

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [ ]:
# Your code here

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [ ]:
# Your code here